@charset "UTF-8";

/* CSS Variable */

:root {
    --primary: rgb(221, 142, 77);
    --dark: #333;
    --light: rgb(146, 122, 57);
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    --border: rgb(116 116 116);
    --backround: #ccc;
}

.vid {
    margin: auto;
    align-items: center;
}

.wrapper {
    display: grid;
}

.images{
    max-width: 100%;
    float: left;
    background-color: var(--primary);
    text-align: center ;
    border-color: var(--primary);
    border-width: 50px;
}    

html{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}

.main-nav ul {
    display: grid;
    gap: 30px;
    padding: 20;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.main-nav a{
    display: grid;
    text-decoration: none;
    background-color: #ffbb00;
    padding: 1rem;
    text-align: center;
    font-weight: 700;
    color: var(--dark);
    font-size: 1.1rem;
    box-shadow: var(--shadow);
    border-style: solid;
    border-width: 1px;
    border-color: var(--primary);
    border-radius: 0.8rem;
}

.main-nav a:hover {   
    background-color: #dda60d;
}

.title{
    text-align: center;
    color: rgb(58, 43, 25);
    border: #333;
    background-color: #ffbb0070;
}

.burger{
    margin-top: 1px;
    margin: auto;
    margin-right: 950px;
    align-items: center;
}

.text{
 color: rgb(41, 41, 41);
 font-size: large;
 line-height: 40px;
 font-family:sans-serif;
 background-color: #ffbb0070; 
text-align: center;
}

body {
    background: #ccc;
    margin: 20px 20px;
    line-height: 1.4em;
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 3fr 1fr;
    grid-template-areas: "grid-head grid-head grid-head" "grid-main grid-main grid-main" "grid-main grid-main grid-main" "grid-footer grid-footer grid-footer";
    height: 100vh;
    margin: 1em;    
}

section.grid-head {
    grid-area: grid-head;
    background: #1d190e9a;

    border-radius: 25px 25px 0px 0px;
}

section.grid-main {
    grid-area: grid-main;
    background: #1d190e9a;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

section.grid-footer {
    grid-area: grid-footer;
    background: var(--backround);
    background: #1d190e9a;
    border-radius: 0rem, 0rem, 1.7rem 1.7rem;
}

.translate-nav a{
    display: block;
    text-decoration: none;
    background-color: #ffbb00;
    padding: 1rem;
    text-align: center;
    font-weight: 700;
    color: var(--dark);
    font-size: 1.1rem;
    box-shadow: var(--shadow);
    border-style: solid;
    border-width: 1px;
    border-color: var(--primary);
    border-radius: 0.8rem;
    margin-left: 550px;
    margin-right: 550px;
    margin-top: 5px;
}

.translate-nav a:hover {   
    background-color: #dda60d;
}
